#headerHolder {
  padding-top: 100px;
  padding-bottom: 20px;
  margin-bottom: 0px;
  background-color: #005f69;
  color: #ccbca4;
  justify-content: center;
}

header {
  width: 200px;
  margin: 0 auto;
}

.headerText {
  font-size: 90%;
}

#footerHolder {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: darkslategray;
  color: blanchedalmond;
  text-align: center;
  justify-content: center;
}

footer {
  width: 200px;
  margin: 0 auto;
}

.footerText {
  font-size: 60%;
}

body {
  margin: 0;
  background-color: darkcyan;
}

main {
  height: 100%;
  margin: 0px;
  padding: 0px;
  color: blanchedalmond;
}

nav {
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
}

.nav-list {
  display: flex;
  flex: row wrap;
  justify-content: flex-start;
  position: fixed;
  list-style-type: none;
  width: 100%;
  top: 0;
  margin: 0;
  padding: 0;
  background-color: darkslategray;
}

.list-item {
  float: left;
}

.nav-link {
  font-size: larger;
  display: block;
  padding: 28px 16px;
  text-decoration: none;
  color: blanchedalmond;
}

.nav-link:hover {
  background-color: powderblue;
  color: black;
}

.nav-link:focus {
  border-color: black;
}

.heading {
  text-align: center;
}

.contact {
  text-align: center;
}

.form {
  width: 340px;
  margin: 0 auto;
  padding: 5px 10px 10px 10px;
  border-radius: 10px;
  font-size: 100%;
  background-color: darkcyan;
}

.formName {
  text-align: center;
}

.form-element {
  margin: 30px auto;
}

h1 {
  font-size: xx-large;
  text-transform: uppercase;
  font-weight: bolder;
}

.user-input {
  width: 220px;
  padding: 2px;
  outline: none;
}

.title {
  float: left;
  width: 90px;
  clear: left;
  font-weight: bold;
}

.message {
  width: 220px;
  height: 80px;
  padding: 2px;
}

.form-element span {
  font-weight: bold;
}

.buttons {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.btn {
  width: 50%;
  height: 30px;
  border-radius: 3px;
  border: 1px solid var(--green);
}

.btn-primary {
  margin-right: 5px;
  color: azure;
  background-color: cadetblue;
}

.btn-primary:hover {
  color: var(--black);
  background-color: dimgray;
  border: 1px solid black;
}

.btn-secondary {
  margin-left: 0;
  color: azure;
  background-color: darkslategray;
}

.btn-secondary:hover {
  color: black;
  background-color: darkgray;
  border: 1px solid black;
}
