:root {
  --darkslategray: #2f4f4f;
  --blanchedalmond: #ffebcd;
  --black: #000000;
  --powderblue: #b0e0e6;
  --aquablue: #005f69;
  --white: #ffffff;
}

/* Nav code */
nav {
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
}

.nav-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: fixed;
  list-style-type: none;
  width: 100%;
  top: 0;
  margin: 0;
  padding: 0;
  background-color: var(--darkslategray);
}

.list-item {
  float: left;
}

.nav-link {
  font-size: larger;
  display: block;
  padding: 28px 16px;
  text-decoration: none;
  color: var(--blanchedalmond);
}

.nav-link:hover {
  background-color: var(--powderblue);
  color: var(--black);
}

.nav-link:focus {
  border-color: var(--black);
}

/* header code */
#headerHolder {
  padding-top: 100px;
  padding-bottom: 20px;
  margin-bottom: 0px;
  background-color: var(--aquablue);
  color: var(--white);
  justify-content: center;
}

header {
  width: 200px;
  margin: 0 auto;
}

.headerText {
  font-size: 90%;
}

/* footer code */
#footerHolder {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--aquablue);
  color: var(--white);
  text-align: center;
  justify-content: center;
}

footer {
  width: 200px;
  margin: 0 auto;
}

.footerText {
  font-size: 60%;
}

/* body code */
body {
  margin: 0;
  background-color: var(--darkslategray);
}

main {
  height: 100%;
  margin: 0px;
  margin-bottom: 75px;
  padding: 0px;
  color: var(--blanchedalmond);
}

.heading {
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}

/* Specific page code */
.section {
  text-align: center;
}
